*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0%;
} 
.navbar{
    height:auto;
    background: #ffffff;
    width:100%;
    font-family:monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    padding:10px;
   
}

.menu-bar {
    width: 30px;
    height: 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    
    
  }
  
  .menu-bar span {
    display:block;
    height: 4px;
    background-color: #352929;
    border-radius: 2px;
    
  }


  .content-1{
    height:550px;
    width: 100%;
    background:rgb(31, 167, 167);
    position: absolute;
    top: 0;
    z-index: 0;

  }
  .image-1 img{
    position: absolute;
    height:600px;
    border-radius: 30px;
    margin:150px;
    margin-left:325px;
  }

.section-1{
  width: 100%;
  height: 100vh;
  background-color:rgb(214, 208, 208);
  position: relative;
}
.content-2{
  position: absolute;
  height:400px;
  width: 500px;
  background: #e4e3e3;
  right:400px;
  top: 150px;
  border-radius:40px;
  top: 450px;
  padding-left:50px;
  font-size: 20px;
  font-family: sans-serif;
  padding-top:50px ;




  

}