*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0%;
} 
.navbar{
    height:auto;
    background: #ffffff;
    width:100%;
    font-family:monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    padding:10px;
   
}

.menu-bar {
    width: 30px;
    height: 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    
    
  }
  
  .menu-bar span {
    display:block;
    height: 4px;
    background-color: #352929;
    border-radius: 2px;
    
  }


  .content-1{
    height:550px;
    width: 100%;
    background:rgb(31, 167, 167);
    position: absolute;
    top: 0;
    z-index: 0;

  }

  .main-sec-1{
    position: relative;
  }

  .image-1 img{
    height:550px;
    border-radius: 30px;
    margin:150px;
    margin-left:325px;
  }

.section-1{
  width: 100%;
  height: 100vh;
  background-color:rgb(231, 222, 222);
  position: relative;
}
.content-2{
  position: absolute;
  height:400px;
  width: 500px;
  background: #f5f1f1;
  left:800px;
  top: 150px;
  border-radius:40px;
  top: 450px;
  padding-left:50px;
  font-size: 20px;
  font-family: sans-serif;
  padding-top:50px ;
  letter-spacing:3px;
}
.content-3{
  font-size:40px;
  margin-top: 10px;
  color: rgb(255, 94, 0);
  font-style: oblique;
}
.content-4 p{
  margin-top: 20px;
  font-size:15px;
}

.button{
  height: 50px;
  width:200px;
  margin-top: 25px;
  border-radius:50px;
  font-size:15px;
  background: rgb(58, 192, 245);
  color: #ffffff;
  font-weight: bold;
  border: none;
  
}


@media only screen and (max-width: 1200px) {
 .content-2{
  left: 600px;
 }

  .image-1 img{
    margin-left: 150px;
    
  }

}
@media only screen and (max-width: 1100px) {
 

}
@media only screen and (max-width: 1000px) {

}